$primary: hsla(206, 79%, 41%);
.btn {
    font: 600 0.75rem Inter;
    width: fit-content;
    border: none;
    border-radius: 8px;
    background-color: $primary;
    padding-inline: 24px;
    padding-block: 16px;
    transition: cubic-bezier(.17,.73,.27,1) .3s;
    &:hover {
        background-color: hsla(206, 79%, 41%, 0.8);
    }
}

.outline-btn {
    font: 600 0.75rem Inter;
    background-color: transparent;
    color: $primary;
    border: 2px solid $primary;
    transition: cubic-bezier(.17,.73,.27,1) .3s;
    &:hover {
        background-color: $primary;
    }
}