footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0D74B6;
    .footer-left {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: -10px;
            width: 2px;
            height: 100%;
            border-left: 1px solid white;
        }
        .logo {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    .footer-mid {
        padding-top: 32px;
        height: auto;
        position: relative;
        padding-inline: 100px;
        display: flex;
        margin-right: auto;
        ul {
            li {
                margin-bottom: 32px;
                a {
                    text-decoration: none;
                    font: 400 12px 'inter' ;
                    color: white;
                }
            }
        }
        .copyright {
            position: absolute;
            bottom: 2px;
        }
    }
    
    .footer-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-right: 128px;
        .footer-newsletter {
            padding-block: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .form {
                width: fit-content;
                display: flex;
                margin-top: 6px;
                .input_ {
                    padding-top: 15px ;
                    padding-bottom: 15px ;
                    padding-left: 15px;
                    width: 300px;
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                    margin: 0;
                    background-color: white;
                    color: black;
                    border: none;
                    font: 500 14px Inter;
                }
            }
            button {
                padding: 12px;
                margin: 0;
                color: white;
                border: 3px solid;
                background-color: transparent;
                border-bottom-right-radius: 8px;
                border-top-right-radius: 8px;
                font: 500 12px Inter ;
            }
        }
        .footer-socials {
            background-color: white;
            width: fit-content;
            padding: 24px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            margin-inline: auto;
            display: flex;
            gap: 32px;
        }
    }
}

.copyright {
    font: 300 10px Inter ;
    color: white;
}

.h4 {
    font: 400 20px Inter ;
    color: white;
}

@media screen and (max-width: 767.98px) {
    footer {
        flex-direction: column;
        .footer-left {
            display: none;
            &:after {
                display: none;
            }
        }
        .footer-mid {
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: 0;
        }
        .footer-right {
            padding-right: 0;
        }
    }
}