$primary-color: hsl(206, 79%, 41%);
#wpadminbar {
    display: none;
}
html {
    margin-top: 0px !important;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        gap: 38px;
        .logo {
            position: relative;
            width: 148px;
            height: 100%;
            .logo-img {
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .medias {
            gap: 48px;
            a {
                width: 30px;
            }
        }
        nav,
        .nav-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;
                gap: 32px;
                li{
                    align-items: center;
                    cursor: pointer;
                    &:nth-child(5){
                        border-radius: 8px;
                        background-color: $primary-color;
                        padding-inline: 24px;
                        padding-block: 16px;
                        &:hover {
                            background-color: hsla(206, 79%, 41%, 0.8);
                        }
                        a {
                            color: white;
                        }
                    }
                    a{
                        text-decoration: none;
                        color: $primary-color;
                        font-size: 14px;
                        font-family: Inter;
                        font-weight: 600;
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

.burger {
    display: none;
}

.header-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
    img {
        width: 100%;
    }
    .breadcrumb {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        gap: 10px;
        margin-top: 40px;
        padding-left: 10%;
        font-size: 12px;
        font-family: Lato;
        font-weight: 400;
        color: $primary-color;
        a {
            text-decoration: none;
            color: $primary-color;
            transition: color 0.3s ease-in-out;
            &:hover {
                color: hsl(0206, 71%, 90%);
            }
        }
    }
    .h1 {
        margin-top: 128px;
        margin-bottom: 0;
        position: relative;
    }
    .headband {
        margin-top: -30px;
        width: 100%;
        height: 30px;
        background-color: hsla(206, 79%, 41%, 0.2);
    }
}

@media screen and (max-width: 767.98px) {
    body header .nav-menu .nav-menu-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow-x: hidden;
        width: 0;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        z-index: 1;
        gap: 64px;
        transition: all 0.5s cubic-bezier(.17,.73,.27,1);
        li:nth-child(5) {
            background-color: transparent;
            > a {
                color: black;
            }
        }
        li > a {
            display: block;
            padding: 1rem;
            font-size: 1.5rem;
            color: black;
            transition: all 0.4s ease-in-out;
        }
    }

    .burger {
        display: block;
        position: relative;
        padding: 0;
        margin-right: 10px;
        width: 45px;
        height: 45px;
        z-index: 2;
        cursor: pointer;
        border: none;
        background-color: transparent;
        transform: translateY(50%);
        .line {
            display: block;
            width: 45px;
            height: 4px;
            background-color: $primary-color;
            border-radius: 3px;
            transition: all .3s cubic-bezier(.17,.73,.27,1);
            &:before {
                content: "";
                position: absolute;
                left: 0;
                width: 45px;
                height: 4px;
                background-color: $primary-color;
                border-radius: 3px;
                transform: translateY(-12px);
                transition: all .3s cubic-bezier(.17,.73,.27,1);
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                width: 45px;
                height: 4px;
                background-color: $primary-color;
                border-radius: 3px;
                transform: translateY(12px);
                transition: all .3s cubic-bezier(.17,.73,.27,1);
            }
        }
    }
    .show_nav {
        .nav-menu .nav-menu-list {
            width: 100%;
            background-color: $primary-color;
            li > a {
                color: white;
            }
            li:nth-child(5) {
                > a {
                    color: white;
                }
            }
        }
        .burger .line {
            width: 0;
            background-color: transparent;
            &:before {
                background-color: white;
                transform: rotate(45deg);
            }
            &:after {
                background-color: white;
                transform: rotate(-45deg);
            }
        }
    }
}