.head {
    display: flex;
    margin-bottom: 128px;
    > img {
        width: 50%;
        object-fit: cover;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        box-sizing: border-box;
        gap: 64px;
        .imgs-hover {
            width: 100%;
            height: 50%;
            background-color: rgb(0, 0, 0);
        }
        p,
        .img > img {
            padding-inline: 64px;
        }
        > p {
            font: 400 32px Inter;
        }
        .img {
            display: flex;
            justify-content: flex-start;
            width: 100%;
        }
    }
}

.don {
    margin-block: 128px;
}

.asso, 
.proj,
.guide,
.cont,
.don {
    display: flex;
    justify-content: center;
    margin-inline: 64px;
    gap: 16px;
    .left {
        width: 50%;
        > img {
            width: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }
    .right {
        width: 50%;
        background: hsl(0, 0%, 95%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 48px;
        border-radius: 16px;
        padding: 64px;
        box-sizing: border-box;
        .paragraph {
            font: 400 16px Lato;
        }
    }
}

.proj {
    margin-block: 128px;
}

.now {
    display: flex;
    flex-direction: column;
    .h2 {
        position: relative;
        display: flex;
        gap: 32px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-block: 16px 64px;
        white-space: nowrap;
        &:before {
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #000;
            background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(22,116,187,1) 100%);
        }
        &:after {
            display: block;
            content: "";
            width: 100%;
            height: 2px;
            background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(22,116,187,1) 100%);     
        }
    }
}

.main-carousel {
    margin-block: 50px;
    .carousel-cell {
        display: flex;
        margin-right: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100%/3 - 50px);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
            margin-bottom: 24px;
        }
        .h3 {
            font-family: 'Hammersmith One';
            margin-bottom: 4px;
        }
    }

    .flickity-button {
        &:focus, &:active {
            box-shadow: none;
        }
    }

    .flickity-page-dots {
        bottom: -64px;
    }
    .flickity-page-dot {
        width: 22px;
        height: 32px;
        border-radius: 0%;
        background: transparent;
        background-image: url(../images/Droplet-empty.svg);
        &.is-selected{
            background: transparent;
            background-image: url(../images/Droplet.svg);
        }
        &:focus, &:active {
            box-shadow: none;
        }
    }    
}

.needu{
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 128px;
    .h1 {
        text-align: center;
        color: hsl(0, 0%, 100%);
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}