.head {
    display: flex;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        .imgs-hover {
            width: 100%;
            height: 50%;
            background-color: black;
        }
    }
}

.about .asso, 
.about .proj {
    display: flex;
    justify-content: center;
    gap: 16px;
    .right {
        background: #F4F4F4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 16px;
    }
}

.now {
    display: flex;
    flex-direction: column;
    .h2 {
        position: relative;
        text-align: center;
        &:before {
            content: "";
            width: 35vw;
            height: 2px;
            background-color: #000;
            background-image: linear-gradient(90deg, hsl(201, 100%, 81%)40%, hsl(0, 100%, 0%)100%);
            position: absolute;
            top: 50%;
            left: 5%;
        }
        &:after {
            content: "";
            width: 35vw;
            height: 2px;
            background-image: linear-gradient(-90deg, hsl(201, 100%, 81%)40%, hsl(0, 100%, 0%)100%);
            position: absolute;
            top: 50%;
            right: 5%;        
        }
    }
}

.main-carousel {
    margin-block: 50px;
    .carousel-cell {
        margin-right: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100%/3 - 24px);
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
        .h3 {
            text-align: center;
            font-family: 'Hammersmith One';
        }
    }
    .flickity-page-dot {
        width: 22px;
        height: 32px;
        border-radius: 0%;
        background: transparent;
        background-image: url(../images/Droplet-empty.svg);
        &.is-selected{
            background: transparent;
            background-image: url(../images/Droplet.svg);
        }
    }


    
}

.needu{
    width: 100%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .h1 {
        text-align: center;
        color: hsl(0, 0%, 100%);
    }
}