@import "scss/_reset";
@import "scss/_styleguide";
@import "scss/_fonts";
@import "scss/layouts/footer";
@import "scss/layouts/header";
@import "scss/layouts/img_text";
@import "scss/layouts/locate";
@import "scss/layouts/paragraph";
@import "scss/layouts/img";
@import "scss/components/button";
@import "scss/components/form";
@import "scss/pages/home";
@import "scss/pages/contact";
@import "scss/pages/actu";
@import "scss/pages/asso";
@import "scss/pages/project";

@mixin m {
  @media screen and (max-width: 767.98px) {
      @content;
  }
}

$primary-color: hsl(206, 79%, 41%);
$font-color: hsl(0, 0%, 100%);

.main{
  background-color: $font-color;
}

.h1 {
  font: 700 4rem Inter;
  @include m{
    font: 700 2.75rem Inter;
  }
}

.h2 {
  font: 600 2rem Inter;
  @include m{
    font: 600 1.5rem Inter;
  }
}

.h3 {
  font: 500 1.5rem Inter;
  @include m{
    font: 500 1.25rem Inter;
  }
}

p {
  font: 400 1rem Lato;
  @include m{
    font: 400 1.125rem Lato;
  }
}